*{
    margin: 0;
    border: 0;
}

.hide{
    display: none;
}

.view{
    display: "";
}

body{
    overflow-x: hidden;
    background-color: #f2f8f8;
}

a, p, i {
    background: none !important;
}

.header {
    padding: 10px 12px;
    background-color: #1D1E1F;
    color: white;
    z-index: 9;
    position: fixed;
    width: 100%;
    top: 0;
}

.account{
    background-image: url(./img/bg2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    top: 40px;
    width: 100%;
    color: white;
    height: auto;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 20px;
    }

#accimg{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 30px;
 border-radius: 50%;
 border: none;
 background: none;
 vertical-align: middle;
 top: 30px;
 animation-name: accimg;
 animation-duration: 3s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

@keyframes accimg{
  0%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

/* 
    .account::before{
      content: "";
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    } */

.div-opp{
position: sticky;
box-sizing: border-box;
width: 90%;
height: auto;
z-index: 99;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;
padding-top: 30px;
padding-bottom: 30px;
}

 

.account-display{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(17, 18, 18, 0.88);

}

.fa {
    font-size: 25px;
}

.userbtn{
    position: fixed;
    bottom: 20px;
    cursor: pointer;
    background-color: #4aa1f2;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    border: none;
    z-index: 999;
    box-shadow: 2px 2px 20px 1px #888888;
}


.userbtn i{
font-size: 20px;
color: white;
background: none;
}

.operations{
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    z-index: 9;
  }
  
  
  .opp-row {
    display: flex;
    padding: 10px 10px 10px;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .formdata{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}


.form{
	background: white;
	margin-top: 75px;
	padding-left: 20px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
	z-index: 9;
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 1px #888888;

}

@media only screen and (max-width: 1023px){
.form {
    
    margin-right: 40px;
    margin-left: 40px;
}

}
@media only screen and (width: 1024px){
    .form{
    margin-right: 300px;
    margin-left: 300px;
    }
}


@media only screen and (width: 1000px){
    .form{
    margin-right: 300px;
    margin-left: 300px;
    }
}


@media only screen and (max-width: 240px){
    .form{
    margin-right: 20px;
    margin-left: 20px;
    }
}

.form_input{
	padding: 10px 12px;
    margin-bottom: 30px;
    margin-top: 10px;
	border-radius: 10px;
	background: whitesmoke;
	width: 100%;
	color: black;
	border:none;
}


.wifi{
  text-decoration: none;
  color: white;
  position: absolute;
  right: 50px;
  animation-name: wifi;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes wifi{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.entry{
  margin-top: 250px;
 font-size: 30px;
 display: none;
}

.devtab{
  z-index: 999;
  background-color: #1a1a1a;
  width: 100%;
  padding-top: 20px;
  padding-left: 5px;
  position: fixed;
  bottom: 2px;
  margin: 0;
 color: whitesmoke;
}

.devtab input{
  width: 100%;
  background-color: #262626;
  padding: 10px 12px;
  color: whitesmoke;
}


/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card img {
    max-width: 120px;
  }
  
  .profile .profile-card h2 {
    font-size: 24px;
    font-weight: 700;
    color: #2c384e;
    margin: 10px 0 0 0;
  }
  
  .profile .profile-card h3 {
    font-size: 18px;
  }
  
  .profile .profile-card .social-links a {
    font-size: 20px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .profile .profile-card .social-links a:hover {
    color: #012970;
  }
  
  .profile .profile-overview .row {
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .profile .profile-overview .card-title {
    color: #012970;
  }
  
  .profile .profile-overview .label {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
  }
  
  .profile .profile-edit label {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
  }
  
  .profile .profile-edit img {
    max-width: 120px;
  }

  
 .nav-item {
    margin-bottom: 5px;
  }

  button{
    text-decoration: none;
  }
  
  
 .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3;
    color: black !important;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
  }
  
   .nav-link i {
    font-size: 16px;
    margin-right: 10px;
  }
  
   .nav-link.collapsed {
    color: #012970;
    background: #fff;
  }
  
   .nav-link.collapsed i {
    color: #899bbd;
  }
  
   .nav-link:hover {
    color: #4154f1;
    background: #f6f9ff;
  }
  
   .nav-link:hover i {
    color: #4154f1;
  }

  
/* Card */
.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  }
  
  .card-header,
  .card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
  }
  
  .card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
  }
  
  .card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
  }
  
  .card-body {
    padding: 0 20px 20px 20px;
  }
  
  .card-img-overlay {
    background-color: rgba(255, 255, 255, 0.6);
  }
  

  #userback{
    position: fixed;
    bottom: 30px;
    right:20px;
    padding: 10px 12px;
    background-color: orange;
    border-radius: 20px;
    animation-name: back;
    animation-duration: 3s;
    animation-timing-function: none;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes back{
    0%{
        bottom: 80px;
    }
    100%{
        bottom: 30px;
    }
  }