*{
    margin: 0;
    border: 0;
}

.hide{
    display: none;
}

.view{
    display: "";
}

body{
    overflow-x: hidden;
    background-color: #f2f8f8;
}

a, p, i {
    background: none !important;
}

.header {
    padding: 10px 12px;
    background-color: #1D1E1F;
    color: white;
    z-index: 9;
    position: fixed;
    width: 100%;
    top: 0;
}

.account{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./img/gold.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    top: 40px;
    width: 100%;
    color: white;
    height: auto;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 20px;
    }

#accimg{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 30px;
 border-radius: 50%;
 border: none;
 background: none;
 vertical-align: middle;
 top: 30px;
 animation-name: accimg;
 animation-duration: 3s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

@keyframes accimg{
  0%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

/* 
    .account::before{
      content: "";
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    } */

.div-opp{
position: sticky;
box-sizing: border-box;
width: 90%;
height: auto;
z-index: 99;
background: white;
color: black;
border: none;
background-repeat: no-repeat;
background-size: cover;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 20px;
padding-top: 30px;
padding-bottom: 30px;
animation-name: divopp;
animation-duration: 4s;
animation-timing-function: linear;
animation-iteration-count: 3;
animation-direction: alternate;
}

@keyframes divopp{
  from {
    width: 100%;
  }
  to{
    width: 90%;
  }
}

 .checking{
  color: orange;
  text-decoration: none;
  animation-name: checking;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
 }

 @keyframes checking{
from{
  opacity: 0.3;
}
to{
  opacity: 1;
}
 }

.account-display{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(35, 36, 39, 0.70);

}

.fa {
    font-size: 25px;
}

.userbtn{
    position: fixed;
    bottom: 50px;
    cursor: pointer;
    background-color: #4aa1f2;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    border: none;
    z-index: 999;
    box-shadow: 2px 2px 20px 1px #888888;
    animation-name: userbtn;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: none;
}

@keyframes userbtn{
  0%{
    bottom: 100%;
  }
  30%{
    bottom: 50px;
  }
  70%{
    bottom: 140px;
  }
  100%{
    bottom: 50px;
  }
}


.crpreloader{
  width: 100%;
  background:black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  text-align: center;
 }


#crpreloader{
  width: 100%;
  height: 100vh;
  background: black;
}

@keyframes crpreloader{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.crpreloader p{
  padding-top: 300px;
  font-size: 30px;
  animation-name: crpreloader;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

@media only screen and (max-width: 799px){
  .crpreloader p{
padding-top: 260px;
font-size: 25px;
  }
}

.userbtn i{
font-size: 20px;
color: white;
background: none;
}

.operations{
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    z-index: 9;
  }
  
  
  .opp-row {
    display: flex;
    padding: 10px 10px 10px;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
  }
/*   
  .formdata{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}


.form{
	background: #1a1a1a;
	margin-top: 75px;
	padding-left: 20px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	z-index: 9;
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 1px #292727;

}

@media only screen and (max-width: 1023px){
.form {
    
    margin-right: 40px;
    margin-left: 40px;
}

}
@media only screen and (width: 1024px){
    .form{
    margin-right: 300px;
    margin-left: 300px;
    }
}


@media only screen and (width: 1000px){
    .form{
    margin-right: 300px;
    margin-left: 300px;
    }
}


@media only screen and (max-width: 240px){
    .form{
    margin-right: 20px;
    margin-left: 20px;
    }
}

.form_input{
	padding: 10px 12px;
    margin-bottom: 30px;
    margin-top: 10px;
	border-radius: 10px;
	background: #262626;
	width: 100%;
	color: white;
	border:none;
} */

/* 
.wifi{
  text-decoration: none;
  color: white;
  position: absolute;
  right: 50px;
  animation-name: wifi;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes wifi{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
} */

.userpage{
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/gold.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

.entry{
  padding-top: 250px;
 font-size: 30px;
 text-align: center;
 display: none;
 text-decoration: none;
 color: white;
}

.bottom-nav{
  position: fixed;
  bottom: 0;
  padding: 10px 12px;
  width: 100%;
  display: flex;
  background-color: rgba(3, 3, 3, 0.8);
  justify-content: space-evenly;
  flex-wrap: nowrap;
  z-index: 999;
  color: #ffffff;
}

.br{
  display: none;
}

.top-nav{
  display: none;
}

@media only screen and (min-width:700px){
  .bottom-nav{
    display: none;
  }

  .br{
    display: block;
  }
  .top-nav{
    display:flex;
    justify-content: center;
    position: fixed;
    top: 40px;
    z-index: 999;
    background-color: black;
    width: 100%;
    padding: 10px 12px;
    color: white;
  }
  .top-nav a{
    padding: 8px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
}

.bottom-nav a{
  padding: 10px 12px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.devtab{
  z-index: 999;
  background-color: #1a1a1a;
  width: 100%;
  padding-top: 20px;
  padding-left: 5px;
  position: fixed;
  bottom: 2px;
  margin: 0;
 color: whitesmoke;
}

.devtab input{
  width: 100%;
  background-color: #262626;
  padding: 10px 12px;
  color: whitesmoke;
}


/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card img {
    max-width: 120px;
  }
  
  .profile .profile-card h2 {
    font-size: 24px;
    font-weight: 700;
    color: #2c384e;
    margin: 10px 0 0 0;
  }
  
  .profile .profile-card h3 {
    font-size: 18px;
  }
  
  .profile .profile-card .social-links a {
    font-size: 20px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .profile .profile-card .social-links a:hover {
    color: #012970;
  }
  
  .profile .profile-overview .row {
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .profile .profile-overview .card-title {
    color: #012970;
  }
  
  .profile .profile-overview .label {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
  }
  
  .profile .profile-edit label {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
  }
  
  .profile .profile-edit img {
    max-width: 120px;
  }

  
 .nav-item {
    margin-bottom: 5px;
  }

  button{
    text-decoration: none;
  }
  
  
 .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3;
    color: black !important;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
  }
  
   .nav-link i {
    font-size: 16px;
    margin-right: 10px;
  }
  
   .nav-link.collapsed {
    color: #012970;
    background: #fff;
  }
  
   .nav-link.collapsed i {
    color: #899bbd;
  }
  
   .nav-link:hover {
    color: #4154f1;
    background: #f6f9ff;
  }
  
   .nav-link:hover i {
    color: #4154f1;
  }

  
/* Card */
.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  }
  
  .card-header,
  .card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
  }
  
  .card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
  }
  
  .card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
  }
  
  .card-body {
    padding: 0 20px 20px 20px;
  }
  
  .card-img-overlay {
    background-color: rgba(255, 255, 255, 0.6);
  }
  

  #userback{
    position: fixed;
    bottom: 30px;
    right:20px;
    padding: 10px 12px;
    background-color: orange;
    border-radius: 20px;
    animation-name: back;
    animation-duration: 3s;
    animation-timing-function: none;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes back{
    0%{
        bottom: 80px;
    }
    100%{
        bottom: 30px;
    }
  }

.containerS{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./img/gold.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  column-gap: 30px;
}
.formpage{
  position: absolute;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background: #FFF;
}
header{
  font-size: 28px;
  font-weight: 600;
  color: #232836;
  text-align: center;
}
#form{
  margin-top: 30px;
}
.formpage .field{
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}
.field input,
.field button{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}
.field input{
  outline: none;
  padding: 0 15px;
  border: 1px solid#CACACA;
}
.field input:focus{
  border-bottom-width: 2px;
}
.eye-icon{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}
.field button{
  color: #fff;
  background-color: #0171d3;
  transition: all 0.3s ease;
  cursor: pointer;
}
.field button:hover{
  background-color: #016dcb;
}
.form-link{
  text-align: center;
  margin-top: 10px;
}
.form-link span,
.form-link a{
  font-size: 14px;
  font-weight: 400;
  color: #232836;
}
.formpage a{
  color: #0171d3;
  text-decoration: none;
}
.form-content a:hover{
  text-decoration: underline;
}
.line{
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}
.line::before{
  content: 'Or';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  color: #8b8b8b;
  padding: 0 15px;
}
.media-options a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.facebook-icon,
img.google-img{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
img.google-img{
  height: 20px;
  width: 20px;
  object-fit: cover;
}
a.google{
  border: 1px solid #CACACA;
}
a.google span{
  font-weight: 500;
  opacity: 0.6;
  color: #232836;
}

@media screen and (max-width: 800px) {
  .formpage{
    width: 90%;
  }
  
}

.contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

.contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #5c9f24;
}

.contact .contact-info address,
.contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

.contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

.contact .contact-info a {
  color: green;
  text-decoration: none;
}

.contact .contact-info a:hover {
  color: #5c9f24;
}

.contact .contact-address,
.contact .contact-phone,
.contact .contact-email {
  margin-bottom: 20px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
  padding: 10px 15px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #5c9f24;
}

.contact .php-email-form button[type=submit] {
  background: #5c9f24;
  border: 0;
  padding: 10px 30px 12px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #6ab82a;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  .contact .contact-address,
  .contact .contact-phone,
  .contact .contact-email {
    padding: 20px 0;
  }
}

.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li+li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.fa-chevron-down{
  color: orange;
  font-weight: 700;
  font: smaller;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #9cdc66;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #5c9f24;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}


section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f1f1f1;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #5c9f24;
}

.section-title p {
  margin-bottom: 0;
}